<h1>List of Users</h1>


<% @users.each do |user| %>
  <div class="user-container">
    <div class="users-show">
      <p><%= link_to user.name, user_path(user) %>
        <% if  user.avatar.present? %>
          <%= image_tag user.avatar.url , class: 'users-img-index', size: '100x100'  %>
        <% else %>
          <%= gravatar_for user %></p>
        <% end %>
    </div>
  </div>

<% end %>


