// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
  margin: 0 auto;
  padding: 5px 10px 0 70px;
  
 
}

.pin-bar {
  position: fixed;
  z-index: 100;
  text-align: center;
  padding-top: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255,255,255,0.7);
}


.pinimage{ 
  width: 100%;
  padding: 20px 30px 10px 50px;
}



.box {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 2px;
  width: 250px;
  padding: 15px 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
}

.box img {
  width: 100%;
}

.box-view img {
  width: 60%;
  padding: 5px;
}

.pinviewimage{
  width: 100%;
  

  & img {
    
    width: 80%;
    
  }

}


iframe {
  margin: 5px 5px 0 -1px;

}

iframe.view {
  margin: 0;
 

}

.video-overlay {
  position: absolute;
  height: 220px;
  width: 220px;
  margin: 5px 5px 0 5px;
  z-index: 1000;
  background: #ffffff;
  opacity: 0;
 
    
}

img.img-responsive {
  max-width: 100%;
}

.panel-body {
  text-align: justify;
 
  & h6 {
    font-size: 1.2em;
  }

  & p {
    line-height: 1.2em;
    
  }


}

.box-view {

  background-color: rgba(255, 255, 255, 0.9);
  margin-top:50px;
  max-width: 100%;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
}


.btn-group.btn-group-lg {
  margin: 0 60px;

}


.btn-lg-round {
 
  border-radius: 8px;
  outline: none;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  background-color: white;
  font-size: 20px;
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);

}

.btn-lg-round:hover{
  background-color: rgba(255,255,255,0.4);
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
  outline: none;
}
.avatar {
  border-radius: 100%;
}
