// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins.transitions-enabled {
  margin: auto 0;
  padding: 5px 5px 0 15px;
}

.pin-bar {
  position: fixed;
  z-index: 100;
  text-align: center;
  padding-top: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255,255,255,0.9);

}



.pinimage{ 
  width: 100%;
  padding: 20px 30px 10px 50px;
}



.box {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 6px;
  width: 250px;
  padding: 15px 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
}

.box img {
  width: 100%;
}

.box-view img {
  width: 60%;
  padding: 5px;
}

.pinviewimage{
  width: 100%;
  

  & img {
    
    width: 80%;
    
  }

}


iframe {
  margin: 5px 5px 0 -1px;

}

iframe.view {
  margin: 0;
 

}

.video-overlay {
  position: absolute;
  height: 220px;
  width: 220px;
  margin: 5px 5px 0 5px;
  z-index: 1000;
  background: #ffffff;
  opacity: 0;
 
    
}

img.img-responsive {
  max-width: 100%;
}

.panel-body {
  text-align: justify;
 
  & h6 {
    font-size: 1.2em;
  }

  & p {
     
    
  }


}

.box-view {

  background-color: rgba(255, 255, 255, 0.9);
  margin-top:50px;
  max-width: 100%;
  padding: 5px 10px 5px 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
}


// .btn.btn-link.button {
//   margin: 0 60px;

// }

span {

  font-size: 20px;
  font-weight: bold;
  

}

// filter bar pins

.btn.btn-link {
  border: none;
 text-decoration: none;
 color: #4b4949;
 padding-top: 10px;
 padding-left: 25px;
 padding-bottom: 10px;
 font-size: 20px;

}

.btn.btn-link.button {
 border: none;
 text-decoration: none;
 color: #7A7779;
 padding-top: 10px;
 padding-left: 25px;
 padding-bottom: 10px;
 font-size: 20px;


}
  

.btn.btn-link.button:hover{
  border: none;
  text-decoration: none;
}

.btn.btn-link.button:focus {
  outline: none;
}

// pin filter bar pins

//red pin

.btn.btn-link.button.red {

 border: none;
 text-decoration: none;
 color: #7A7779;
 padding-top: 10px;
 padding-left: 25px;
 padding-bottom: 10px;
    

}

.btn.btn-link.button.red:hover{
  position: relative;

 
}

.btn.btn-link.button.red:hover:after {
  content: image-url(asset_path('redpin.png'));
  position: absolute;
  margin: -30px 0 0 -20px;
  display: block;
 
}




//ming-pin

.btn.btn-link.button.ming {

 border: none;
 text-decoration: none;
 color: #7A7779;
 padding-top: 10px;
 padding-left: 25px;
 padding-bottom: 10px;
 font-size: 20px;

}

.btn.btn-link.button.ming:hover {
  position: relative;
 
}

.btn.btn-link.button.ming:hover:after {
  content: image-url(asset_path('ming.png'));
  position: absolute;
  margin: -30px 0 0 -20px;
  display: block;
   
}

//purple-pin

.btn.btn-link.button.purple {

 border: none;
 text-decoration: none;
 color: #7A7779;
 padding-top: 10px;
 padding-left: 25px;
 padding-bottom: 10px;
 font-size: 20px;

}

.btn.btn-link.button.purple:hover {
  position: relative;
 
}

.btn.btn-link.button.purple:hover:after {
  content: image-url(asset_path('purple.png'));;
  position: absolute;
  margin: -30px 0 0 -20px;
  display: block;
   
}

//black-pin

.btn.btn-link.button.black {

 border: none;
 text-decoration: none;
 color: #7A7779;
 padding-top: 10px;
 padding-left: 25px;
 padding-bottom: 10px;
 font-size: 20px;

}

.btn.btn-link.button.black:hover {
  position: relative;
 
}

.btn.btn-link.button.black:hover:after {
  content: image-url(asset_path('black.png'));;
  position: absolute;
  margin: -30px 0 0 -20px;
  display: block;
   
}

//orange-pin

.btn.btn-link.button.orange {

 border: none;
 text-decoration: none;
 color: #7A7779;
 padding-top: 10px;
 padding-left: 25px;
 padding-bottom: 10px;
 font-size: 20px;

}

.btn.btn-link.button.orange:hover {
  position: relative;
 
}

.btn.btn-link.button.orange:hover:after {
  content: image-url(asset_path('orange.png'));;
  position: absolute;
  margin: -30px 0 0 -20px;
  display: block;
   
}

//cream-pin

.btn.btn-link.button.cream {

 border: none;
 text-decoration: none;
 color: #7A7779;
 padding-top: 10px;
 padding-left: 25px;
 padding-bottom: 10px;
 font-size: 20px;

}

.btn.btn-link.button.cream:hover {
  position: relative;
 
}

.btn.btn-link.button.cream:hover:after {
  content: image-url('creampin.png');
  size: 5px;
  position: absolute;
  margin: -30px 0 0 -20px;
  display: block;
   
   img {
    width:10%;
   }
}



//end of filter bar pins






.avatar {
  border-radius: 100%;
}
