// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.users {
  margin: 0 0 20px 285px;
  padding-top: 2px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.75);
  border-radius: 8px;
 


  h1 {
    text-align: center;
  }

  a {
  text-decoration: none;
  color: black;
  }

  a:hover {
    text-decoration:line-through;
  }


  p {
    text-align: center;
    padding: 0 10px 15px 0;
  }

  img.gravatar { 
    width: 50%;
    border-radius: 50%;
    padding: 20px;
  }
 
}

.user-container {
  margin-top: 80px;
}

.users-show {
  margin: 1px;
  padding: 50px;
  position: inline;
  width: 450px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  float: left;

   img.gravatar { 
    
    border-radius: 50%;
    padding: 20px;
  }
 



  
 }

#holder {
  
  
 width: 50%;
 height: 50%;
  margin: 20px auto;
  position: relative;

}

#holder.hover {
  
  border: 5px dashed #0c0;
  border-radius: 300px;

}

.users-avatar {
  border: 5px dashed #ccc;
  border-radius: 300px;
  height: 100%;
  z-index: 1;
  width: 100%;
  position: absolute;
}

 .users-img {
  z-index: 100;
  border-radius: 300px;
  width: 100%;
  margin-top: 5px;
 

}


 .users-img-index{
  
  border-radius: 50%;
  border: 1px dashed #ccc;
  float: right !important;
 
}

.users-tilted {
  width: 100%;
  padding-top: 2px;
  padding-left: 5px;
  position: absolute;
}

