// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#users {
  margin: 0 auto;
  width: 400px;
  padding: 5px 10px 0 70px;
  background-color: #ffffff;
  border-radius: 8px

  img { 
  width: 20%;
  padding: 5px;
}
 
}


